@use '../util' as u;
//we need to load the util folder into the grid.scss file, as above.
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  //   max-width: 1000px;
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;

  //   margin-top: 40px;

  @include u.breakpoint(large) {
    //here we use @include as a path to the code in the util folder
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }
  &__main {
    background-color: hsl(240, 97%, 36%);
  }
  //this is where we are using the sass map in 'breakpoints.scss'. Note the nesting
  //see how we are centering the text in medium but right aligning on small screens. This is really clever and neat
  &__sidebar {
    @include u.breakpoint-down(medium) {
      text-align: center;
    }

    @include u.breakpoint-down(small) {
      text-align: right;
    }
  }

  &__widget {
    padding: u.rem(16);
  }
}
